<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
      <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <connectionStrings>
    <add name="HFSDBEntities" connectionString="metadata=res://*/Models.HFSDB.csdl|res://*/Models.HFSDB.ssdl|res://*/Models.HFSDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=test-sql.hayesfieldservices.com;initial catalog=HFSDB;user id=hfs_db_admin;password=M51714jake;encrypt=true;trustServerCertificate=true;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>